[package]
name = "zopfli"
version = "0.8.0"
description = "A Rust implementation of the Zopfli compression algorithm."
license = "Apache-2.0"
keywords = ["compression"]
homepage = "https://github.com/zopfli-rs/zopfli"
repository = "https://github.com/zopfli-rs/zopfli"
readme = "README.md"
categories = ["compression", "no-std"]
exclude = [
    ".github/*",
    ".gitignore",
    "Makefile",
    "benchmark-builds/*",
    "rustfmt.toml",
    "test/*",
]
edition = "2021"
rust-version = "1.66"

[dependencies]
crc32fast = { version = "1.4.0", default-features = false, optional = true }
simd-adler32 = { version = "0.3.7", default-features = false, optional = true }
typed-arena = { version = "2.0.2", default-features = false }
log = "0.4.21"
lockfree-object-pool = "0.1.4"
once_cell = "1.18.0"

[dev-dependencies]
proptest = "1.4.0"
proptest-derive = "0.4.0"
miniz_oxide = "0.7.2"

[features]
default = ["std", "gzip", "zlib"]
gzip = ["dep:crc32fast"]
zlib = ["dep:simd-adler32"]

std = ["crc32fast?/std", "simd-adler32?/std"]
nightly = ["crc32fast?/nightly", "simd-adler32?/nightly"]

[[bin]]
name = "zopfli"
required-features = ["std", "gzip", "zlib"]

[profile.release]
debug = true

# docs.rs uses a nightly toolchain, so it can leverage unstable rustdoc features.
# Reference: https://docs.rs/about/builds
[package.metadata.docs.rs]
cargo-args = ["--all-features"]
